.red {
    color: #f11919;
}
.yellow {
    color: #c6bf1f;
}
.green {
    color: #4A9C02;
}
.teal {
    color: #25c2dd;
}
.violet {
    color: #c64cff;
}
.tree {
    display: none;
    position: relative;
    margin-top: 15px;
}
.wn8 {
    background-image: url(../images/wn8.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    background-size: 16px;
    padding-left: 18px;
}